@model Science.Models.Dissertation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
    <center>
        <h2>РЕГИСТРАЦИОННАЯ КАРТА</h2>
        <h4>на тему диссертационного исследования</h4>
    </center>
    <hr />

    @using (Html.BeginForm())
    {
    <div class="container">
        <div class="form-group" id="data_1">
            @Html.LabelFor(model => model.Date, "Дата отправки (исходящий номер)", new { @class = "col-md-2 control-label" })
            <div class="input-group date">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span><input type="text" name="Date" id="Date" class="form-control" value="">
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Наименование (тема) диссертации", new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-lg-50" })
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Author, "Фамилия, имя, отчество соискателя", new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Type, "Представлено к защите", new { @class = "col-md-2 control-label" })
            @Html.DropDownListFor(model => model.Type, ViewBag.Types as SelectList)
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Index, "Шифр научной специальности", new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(model => model.Index, new { @class = "form-control" })
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Rank, "На соискание степени", new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(model => model.Rank, new { @class = "form-control" })
        </div>
        <br />
    </div>

        <hr />
        <h3>Сведения об организации, в которой утверждена тема диссертации</h3>
        <br />
        <div class="container">
            <div class="form-group">
                @Html.LabelFor(model => model.Number, "Телефон", new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(model => model.Number, new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.City, "Город", new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
            </div>
            <br />
        </div>
        <input type="submit" class="btn btn-default" value="Сохранить" />
    }

    @section Scripts {
        @Scripts.Render("~/plugins/dataPicker")

        <script type="text/javascript">
            //Documentation on http://bootstrap-datepicker.readthedocs.io/en/latest/
            $(document).ready(function () {
                $(".input-group.date").datepicker({                    
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    language: 'ru',
                    format: 'dd.mm.yyyy'
                });
            });
        </script>
    }

</body >
</html >
