@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ИС "Наука"</title>
</head>
<body>
    <div>
        <p></p>
        <div class="jumbotron">
            <h1>Добро пожаловать</h1>
            <p>
                Информационная система регистрации и учета научно-исследовательских работ, опытно-конструкторских работ и диссертационных исследований, проводимых в войсках национальной гвардии Российской Федерации
            </p>
        </div>
    </div>
    <div class="container">
        <form action="/Home/BookSearch" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form0" method="post">
            <div class="input-group">
                <input type="text" name="id" class="form-control" placeholder="Введите РК">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><p>РК</p></td>
                    <td><p>Наименование</p></td>
                    <td><p>Автор</p></td>
                    <td><p>Представлено к защите</p></td>
                    <td><p>Шифр научной специальности</p></td>
                    <td><p>На соискание степени</p></td>
                    <td><p>Телефон</p></td>
                    <td><p>Город</p></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in ViewBag.Dissertations)
                {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Type</p></td>
                    <td><p>@b.Index</p></td>
                    <td><p>@b.Rank</p></td>
                    <td><p>@b.Number</p></td>
                    <td><p>@b.City</p></td>
                    <td><p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Инфо</button></p></td>
                    <!--<td><p><button type="button" class="btn btn-danger" href="/Home/DeleteDis/@b.Id">Удалить</button></p></td>-->
                    <td><p><a href="/Home/DeleteDis/@b.Id" class="btn btn-danger">Удалить</a></p></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />
    <a href="/Home/CreateNir" class="btn btn-default btn-lg" role="button">Добавить научно-исследовательскую работу</a>   <a href="/Home/CreateDis" class="btn btn-default btn-lg pull-right" role="button">Добавить диссертационное исследование</a>
    <br />
    <a href="/Home/Second" class="btn btn-default btn-lg pull-right" role="button">НИР</a>

    <div class="ibox-content">
        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <i class="fa fa-laptop modal-icon"></i>
                        <h4 class="modal-title">Информация о диссертационном исследовании</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            @foreach (var с in ViewBag.Dissertations)
                            {
                        <h5>Наименование (тема) диссертации</h5>
                            <div class="well well-sm">
                                @с.Name
                            </div>

                            <h5>Фамилия, имя, отчество соискателя</h5>
                            <div class="well well-sm">
                                @с.Author
                            </div>

                            <h5>Представлено к защите</h5>
                            <div class="well well-sm">
                                @с.Type
                            </div>

                            <h5>Шифр научной специальности</h5>
                            <div class="well well-sm">
                                @с.Index
                            </div>

                            <h5>На соискание степени</h5>
                            <div class="well well-sm">
                                @с.Rank
                            </div>
                            <hr />

                            <h3>Сведения об организации, в которой утверждена тема диссертации</h3>
                            <h5>Телефон</h5>
                            <div class="well well-sm">
                                @с.Number
                            </div>

                            <h5>Город</h5>
                            <div class="well well-sm">
                                @с.City
                            </div>
                            }
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>