@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ИС "Наука"</title>
</head>
<body>    
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><p>РК</p></td>
                    <td><p>Наименование</p></td>
                    <td><p>Аннотация</p></td>
                    <td><p>Шифр</p></td>
                    <td><p>Основание для проведения НИОКР</p></td>
                    <td><p>Источники финансирования</p></td>
                    <td><p>Виды работ</p></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in ViewBag.Nirs)
                {
                    <tr>
                        <td><p>@b.Id</p></td>
                        <td><p>@b.Name</p></td>
                        <td><p>@b.Annotation</p></td>
                        <td><p>@b.Index</p></td>
                        <td><p>@b.Base</p></td>
                        <td><p>@b.Finance</p></td>
                        <td><p>@b.Kind</p></td>
                        <td><p><a href="/Home/Dissertation/@b.Id">Инфо</a></p></td>
                        <td><p><a href="/Home/DeleteDis/@b.Id">Удалить</a></p></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />
</body>
</html>